$background: #001219
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

body
  margin: 0
  background: $background

.staff-visualizer
  background: white

header
  background: #023047
  color: white
  font-family: "Poppins", sans-serif

  h1
    text-align: center
    margin: 0
    padding: 1rem 1rem 0.5rem
    font-weight: 400
    font-size: 2rem

  .center
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem

    a
      background: #84a98c
      font-size: 1rem
      padding: 0.75rem
      color: white
      border-radius: 0.25rem
      text-decoration: none
      display: block
      transition: all ease 0.25s

      &:hover
        background: #81b29a

  midi-player
    display: block
    width: inherit
    margin: 0

    &::part(control-panel)
      background: #023047
      color: white
      border: none
      border-radius: 0
      padding: 0.5rem 1rem 1rem

    &::part(play-button)
      background: #415a77
      color: white
      border-radius: 0.25rem
      transition: all ease 0.25s

      &:hover
        background: #778da9

section#partition
  #v_staff
    margin-bottom: 2rem
    padding: 1rem
    background: white

  div[data-name="tracks"]
    display: flex
    flex-direction: column
    gap: 0.5rem

    div
      background: white

      .staff-visualizer
        padding: 0.75rem

      h2
        padding: 1rem
        font-family: "Poppins", sans-serif
        font-weight: 300
        font-size: 1.25rem
        display: flex
        justify-content: space-between
        margin: 0

        span
          flex: 1

        span:first-child
          font-weight: 500


midi-visualizer
  .piano-roll-visualizer
    background: #fff
    border: 0
    overflow: auto
    padding: 1rem

  svg
    rect.note
      opacity: 0.6
      stroke-width: 2

      &[data-instrument="0"]
        fill: #e22
        stroke: #500

      &[data-instrument="2"]
        fill: #2ee
        stroke: #055

      &[data-is-drum="true"]
        fill: #888
        stroke: #888

      &.active
        opacity: 0.9
        stroke: #000